<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="116cad26-0464-463c-a521-28028932cc97"
            Publisher="CN=v-schith"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>emptyExample_winrt</DisplayName>
    <PublisherDisplayName>v-schith</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="emptyExample_winrt.App">
        <VisualElements
            DisplayName="emptyExample_winrt"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="emptyExample_winrt"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>